.hero-unit
  %h2 Biimail system
  = form_tag sessions_path do
    = label_tag "Email"
    = text_field_tag :email
    = submit_tag "Login", class: "btn upper"
  -#%form.navbar-form.pull-left
    -#%input.span2{:type => "text"}/
    -#%button.btn{:type => "submit"} Login
