%ul.nav
  -#%li{class: active?(:contents)}= link_to "Contents", contents_path
  -#%li{class: active?(:identities)}= link_to "Accounts", identities_path
-#= link_to "Sign out", session_path, class: "btn pull-right", method: :delete
